@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-inter);
  --font-mono: var(--font-jetbrains-mono);
  
  --color-primary: #2563EB;
  --color-primary-hover: #1D4ED8;
  
  --color-bg-main: #F8FAFC;
  --color-bg-surface: #FFFFFF;
}

/* Custom Scrollbar for Webkit */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}

body {
  background: var(--color-bg-main);
  font-family: var(--font-sans);
}
